@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
textarea {
    width: 500px;
    height: 400px;
    margin: 20px;
    border: none;
}
button {
    margin: 15px;
    display:flex;
}