@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #413C58;
}
textarea {
    width: 500px;
    height: 400px;
    margin: 50px;
    border: none;
    padding: 10px;
    background-color: #353A47;

}
.button {
    margin: 15px;
    display:flex;
    padding: 24px;
}
.section-text{
    display: flex;
}

.inputText{
    width: 680px;
    height: 500px;
    font-size: 23px;
    color: #E5E5E5;
}
.outputText{
    width: 500px;
    height: 644px;
    border-radius: 32px;
    border: solid 2px #4E5166;
    padding: 10px;
    margin: 15px;
    font-size: 24px;
    color:#E5E5E5;
}
.container-inputText{
    margin: 8px;
}
textarea:focus {
    outline: none;
}

.container-outputText{
    margin: 8px;
}

nav{
    margin: 1px;
    font-size: 20px;
    color: #E5E5E5;

}
.texto-info{
    margin-left: 50px;
    color: gray;
}
.container-buttons{
    display: flex;
    margin-top: 20px;
    
}
.encriptar{
    padding: 8px;
    border-radius: 27px;
    width: 328px;
    height: 67px;
    font-size: 16px;
    margin: 24px;
}
.desencriptar{
    padding: 8px;
    border-radius: 27px;
    width: 328px;
    height: 67px;
    font-size: 16px;
    margin: 24px;
}
.copiarTexto{
    padding: 8px;
    border-radius: 27px;
    width: 328px;
    height: 67px;
    font-size: 16px;
    display: block;
    margin-left: 17px;
}